@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@media(min-width:0px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    .nav {
        position: fixed;
        z-index: 5;
        right: -10em;
        top: 0;
        display: flex;
    }
    .navbar {
        height: 100vh;
        width: 10em;
        background-color: rgb(83, 25, 160);
    }
    .navbar p {
        text-align: center;
        color: white;
        font-size: 1.2rem;
        bottom: 0;
        position: fixed;
        margin-bottom: .5em;
        align-content: center;
        padding: 1em;
    }
    .button-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-top: 4em;
    }
    .navbar input[class=home-btn] {
        background: url('../images/home.png') no-repeat;
    }
    .navbar input[class=register-btn] {
        background: url('../images/register.png') no-repeat;
    }
    .navbar input[class=contact-btn] {
        background: url('../images/contact.png') no-repeat;
    }
    .navbar input[type=submit] {
        background-color: rgb(83, 25, 160);
        width: 10em;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        padding: 1em 2.5em 1em 2.5em;
        margin-bottom: 1em;
        background-position: 50% 50%;
        background-size: 2em 2em;
    }
    .navbar input[type=submit]:hover {
        background-color: rgb(60, 7, 131);
    }
    .author-name {
        font-weight: bold;
    }
    header {
        padding-top: 1em;
        padding-bottom: 3em;
        text-align: left;
        padding-left: 1em;
    }
    input[class=show-nav-btn] {
        width: 4em;
        height: 3em;
        margin-top: 1em;
        border: none;
        padding: .3em;
        border-radius: 1em 0 0 1em;
        cursor: pointer;
        background: rgb(83, 25, 160) url('../images/menu.png') no-repeat;
        background-position: center;
    }
    input[class=show-nav-btn]:hover {
        background-color: rgb(60, 7, 131);
    }
    .hero-bg {
        background: url('../images/landscape.jpg') no-repeat;
        background-size: 100vw;
        border-radius: 0 0 60% 60%;
    }
    .hero-bg a {
        color: rgb(83, 25, 160);
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
    }
    h1 {
        text-align: center;
        color: rgb(60, 7, 131);
        font-size: 2rem;
        font-weight: bold;
        margin-top: 3em;
    }
    .phone-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
    }
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
        font-size: 1.3rem;
    }
    .contact-container {
        margin: 1em 1em 0 1em;
        background: rgb(245, 241, 241);
        box-shadow: 10px 10px 10px lightgray;
        padding: 1em;
        width: 100%;
    }
    .help-center {
        font-weight: bold;
        font-size: 1.1em;
    }
    .working-hours {
        width: 18em;
        border-spacing: 0;
        text-align: center;
        margin: auto;
    }
    .days {
        text-align: left;
    }
    .hours {
        color: rgb(83, 25, 160);
        font-weight: bold;
    }
    .contact-container a {
        text-decoration: none;
        color: black;
    }
    .footer p {
        opacity: 0;
        display: none;
    }
    .navbar-overlay {
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, .9);
        z-index: 4;
        position: fixed;
        display: none;
        opacity: 0;
    }
    /*Animations- mobile*/
    .animation-showNavBar {
        animation: showNavBar .2s forwards;
    }
    .animation-hideNavBar {
        animation: hideNavBar .2s forwards;
    }
    .animation-showNavBarOverlay {
        animation: showNavBarOverlay .5s forwards;
    }
    .animation-hideNavBarOverlay {
        animation: hideNavBarOverlay .5s forwards;
    }
}

@media(min-width:580px) {
    .content {
        width: 80vw;
    }
    .contact-container {
        width: 21em;
    }
}

@media(min-width:930px) {
    .footer p {
        opacity: 1;
        display: contents;
    }
    .footer {
        text-align: center;
        margin-top: 20em;
    }
    input[class=show-nav-btn] {
        opacity: 0;
        display: none;
    }
    .nav {
        right: 0;
        position: static;
        z-index: 0;
    }
    .navbar p {
        opacity: 0;
        display: none;
    }
    .navbar {
        width: 0em;
        height: 4em;
        z-index: 1;
    }
    .button-list {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3em;
        margin-top: 0;
    }
    .hero-bg a {
        color: white;
        margin-top: .5em;
        z-index: 1;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(83, 25, 160);
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 1em;
        margin-bottom: 5em;
        padding-top: 0;
    }
    h1 {
        margin-top: 2em;
        font-size: 4rem;
    }
    .navbar input[type=submit] {
        margin-bottom: 0;
        height: 4em;
        padding: 0 5em 0 5em;
    }
}

@media(min-width:1300px) {
    .button-list {
        margin-right: 5em;
    }
    .contact-container {
        padding: 2em;
    }
    .footer {
        margin-top: 10em;
    }
}


/*Animations- definition*/

@keyframes showNavBar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-10em);
    }
}

@keyframes hideNavBar {
    from {
        transform: translateX(-10em);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes showNavBarOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideNavBarOverlay {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}