@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.footer p {
    text-align: right;
    padding-right: 1em;
    background: rgb(0, 0, 69);
    color: white;
    margin-top: -.3em;
    z-index: 1;
}

.hero-bg {
    background: white url('../images/empathy.png');
    background-position: 50% 30%;
    background-size: 130%;
    background-repeat: no-repeat;
    color: rgb(83, 25, 160);
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: left;
    margin-left: 1em;
}

.hero-bg a {
    color: rgb(83, 25, 160);
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
}

h1 span {
    text-transform: uppercase;
    font-size: 2rem;
    padding-right: 0.3em;
}

.line1::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: rgb(83, 25, 160);
    height: .2em;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -1.1em;
}

.line2::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: rgb(83, 25, 160);
    height: .2em;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 1.4em;
}

.about {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2em;
    margin-top: 15em;
}

.form-container {
    background-color: rgb(255, 240, 252);
    margin: 2em -1em 0;
    padding: 2em;
}

.form-container p {
    color: rgb(25, 83, 160);
    font-weight: bold;
    margin-top: 2em;
}

.form-container a {
    color: rgb(25, 83, 160);
    font-weight: bold;
    margin-top: 5em;
    width: fit-content;
}

.form-bottom {
    text-align: center;
}

.form-container a:hover {
    color: rgb(11, 55, 112);
}

label {
    color: rgb(25, 83, 160);
    font-weight: bold;
    display: block;
    margin: -1em 0 .3em;
}

input[type=text] {
    border: 1px solid grey;
    width: 100%;
    padding: .3em;
    border-radius: 3em;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 2em;
}

input[type=password] {
    border: 1px solid grey;
    width: 100%;
    padding: .3em;
    border-radius: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    box-sizing: border-box;
}

input[type=button] {
    background-color: rgb(226, 131, 213);
    width: 100%;
    height: 3em;
    border: none;
    padding: .3em;
    border-radius: 1em;
    margin-bottom: -1em;
    font-weight: 1000;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(224, 114, 210);
}

.bottom {
    margin: 0;
    text-align: center;
    color: rgb(83, 25, 160);
    margin: 3em, 1em;
    font-weight: bold;
}

img {
    width: 100%;
}

h2 {
    font-weight: 1000;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    place-content: center;
    display: none;
    opacity: 0;
    position: fixed;
}

@media(min-width:730px) {
    section {
        margin: 0 4em;
    }
    .form-container {
        margin: 2em -4em 0;
    }
    .hero-bg {
        background-size: 110%;
        background-position: 50% 30%;
    }
    .about {
        margin-top: 17em;
    }
}

@media(min-width:930px) {
    .hero-bg {
        text-align: left;
        background-size: 80%;
        background-position: 50% 30%;
    }
    .hero-bg section {
        width: 65%;
    }
    .form-container {
        margin: 2em 0 0;
        border-radius: 3em;
        box-shadow: 10px 10px 10px rgb(226, 131, 213);
    }
    form {
        display: flex;
    }
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type=button] {
        height: 3em;
        font-size: 1.1em;
        margin-left: 1em;
        align-self: center;
        margin-top: -1em;
        width: 30%;
    }
    .footer img {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .form-bottom {
        text-align: left;
        margin-top: 0;
    }
    .form-bottom p {
        margin-top: 0;
        margin-bottom: .5em;
    }
    .footer p {
        color: black;
        background: white;
    }
}

@media(min-width:1300px) {
    .hero-bg {
        background-size: 70%;
        background-position: 50% 32%;
    }
    .about {
        margin-top: 21em;
    }
}


/*Animations*/

.top {
    animation: fadeIn 2s forwards;
}

.bottom {
    animation: fadeIn 2s forwards;
}

.footer {
    animation: fadeIn 2s forwards;
}

.animation-overlay {
    animation: overlay 5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}